<div class="container" style="padding-top: 50px;">
<h1>Address
    <small>View information about an Ethereum Address</small>
</h1>

<div id="address-97785883" class="addressdiv">
    <table class="table table-striped" cellpadding="0" cellspacing="0" style="padding:0px;float:left;margin:0px;width:100%">
        <tbody>
        <tr>
            <th colspan="3" align="left">{{addressId}} <span class="pull-right"></span></th>
        </tr>
        </tbody>
    </table>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>Balance (Wei)</td>
            <td>{{balance}}</a></td>
        </tr>
        <tr>
            <td>Balance (Ether)</td>
            <td>{{balanceInEther}}</a></td>
        </tr>
        </tbody>
    </table>
</div>

</div>